@use '../assets/styles/mixins';

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

body.pett-login-page {
  #privy-dialog-backdrop {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  div[class^='Panel-sc'] {
    position: fixed;
    bottom: 0;
    padding-bottom: var(--safe-area-inset-bottom);
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 200ms ease-in;
    width: 100%;
    box-shadow: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: var(--safe-area-inset-bottom);
      width: 100%;
      background: white;
    }
  }

  div[class^='ContentWrapper-sc'] {
    border-radius: var(--privy-border-radius-lg) var(--privy-border-radius-lg) 0 0;

    @media (min-width: 768px) {
      margin: auto;
      max-width: 420px;
    }
  }

  div[class^='StyledHeader-sc-'] div[class^='RightActionContainer-sc-'] {
    display: none;
  }

  div[class^='AppLogoContainer-sc-'] {
    margin: 0;
    padding: 0 0 30px 0;
  }
}

.login-screen {
  position: relative;
  z-index: 0;

  &__floating {
    &--top {
      animation: login-floating-top 5s ease,
        stars-shake 0.8s ease-in-out infinite;
    }

    &--bottom {
      bottom: calc(var(--privy-modal-height, 0) - 15px);
      transition: bottom 0.15s ease-in;
      animation: login-floating-bottom 5s ease,
        rocket-pulse 2s ease-in-out infinite;
    }
  }

  &__title {
    @include mixins.text-stroke(#0e052f, 3px);
    top: 7rem; // better spacing from intro
  }

  &__intro {
    top: 2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }
}

@keyframes login-floating-top {
  0% {
    transform: translate(5%, 5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes login-floating-bottom {
  0% {
    transform: translate(-5%, 5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rocket-pulse {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0, 0) scale(1.05);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes stars-shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(0px, 1px) rotate(-0.3deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
